body {
		background-color: #f2f3f7;
	}
	.pozadina {
		margin-top: 50px;
		min-height: 800px;
	}
	.navbar {
		margin:0px;
	}
	.trazilica {
		background-color: green;
		height: 40px;
		margin: 0px;
	}
	.col-md-4	{
		margin-top: 5px;

	}
	.col-md-3	{
		margin-top: 5px;

	}
	#slider {
		height: 300px;
		background: linear-gradient(to bottom right, yellow, green);
		padding: 150px;
	}
	.glavni-dio{
		height: 500px;
		width: 100%;
	}
	.sredina {
		border: 1px solid grey;
		max-height: 490px;
		min-height: 240px;
	}
	.desni-boksovi{ 
		border: 1px solid #f2f3f7;
		width: 100%; 
		min-height: 100px; 
		float: left;  
		margin-top: 5px; 
		margin-bottom: 5px;
		padding: 5px;
	}
	.prijava {
		height: 290px;
		width: 300px;
		background-color: white;
		display: none;
		border: 1px solid #f2f3f7; 
		border-radius: 5px;
		padding: 10px;
	}
	.naslovTabele {
		text-decoration-color: red;
		background-color: red;
	}

